
/* Slide menu styles */
html {
  background-color: #e1e0c0;
}
.slide-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: #056305;
        color: #e1e0c0;
        padding: 20px;
        transition: all 0.3s ease-in-out;
      }
.slide-menu.closed {
        transform: translateX(-250px);
      }
.slide-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
.slide-menu ul li {
        margin-bottom: 10px;
      }
.slide-menu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
      }
      /* Main content styles */
.main-content {
        position: flex;
        margin-left: 250px;
        padding: 20px;
        background-color: #e1e0c0;
        width: 300vh;
        height: 90vh;
      }
.div2 {
  position: relative;
  top: -30px; left: 400px;
}
.sec-content {
  position: absolute;
  top: 10px; left: 1000px;
  background: linear-gradient(to right,#e1e0c0, #ff0000, #ff0000, #ff0000);
  width: 100vh;
  height: 100vh;
}
.right-image1 {
  background-image: url("imagens/vista de longe.png");
  background-size: cover;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 100px;
}

.right-image2 {
  background-image: url("imagens/lado de fora do restaurante1.png");
  background-size: cover;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 100px;
  position: relative;
  left: 200px;
}

.right-image3 {
  background-image: url("imagens/ingredientes.png");
  background-size: cover;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 100px;
}

.texto1 {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  top: 115px; right: -300px;
}

